---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

  <article>

    <h1>Forge70 Labs Applications</h1>

    <p class="description">
      Coming soon.
    </p>

    <p class="description">
      Stay tuned for product news from Forge70 Labs.
    </p>

 </article>

</MainLayout>