---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>

  <article>

    <h1>Contact Forge70 Labs</h1>

    <p class="description">
      We'd love to hear from you.
    </p>

    <p class="description">
      Whether you have a question, feedback, or just want to know more, feel free to reach out.
    </p>

    <section>
    
      <h2>Email</h2>

      <p>
        <a href="mailto:hello@forge70labs.com">
          hello@forge70labs.com
        </a>
      </p>

    </section>

  </article>

</MainLayout>