---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
	<h1>Building intelligent software.</h1>

	<p>
		Forge70 Labs builds thoughtful software,  AI-powered applications, and automation tools informed by decades of engineering experience.
	</p>

</MainLayout>