<header>
  <div class="container">
    <h2>Forge70 labs</h2>

    <nav>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/applications">Apps</a>
      <a href="/contact">Contact</a>
    </nav>
  </div>
</header>
